{:deps 
 {:aliases [:frontend :backend :dev :test]}

 :builds 
 {:app 
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :js-options {:entry-keys ["module" "browser" "main"]} 
   :module-hash-names true
   :modules {:package {:init-fn main.core/init}}
   :devtools {:before-load main.core/before-load
              :after-load main.core/after-load
              :watch-dir "public"
              :watch-path "public"
              :http-root "public"
              :http-port 8081}
   :compiler-options {:output-feature-set :es6} ;; required for helix and react-three/fiber
   ;; :build-hooks [(build/load-env)]
   ;; :build-hooks [(shadow.cljs.build-report/hook)]
   }}}
